@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h5>@ViewBag.Message</h5>

<address>
    301 N Main St<br />
    Water Valley, MS 38965<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aunda@basecampcodingacademy.org">aunda@basecampcodingacademy.org</a><br />
</address>